/.env
/.vscode
/config/*
/data/*
/logs/*
/www/ocs23/system/storage/cache
/www/ocs23/system/storage/logs
/www/ocs23/system/storage/upload
.DS_Store
/buildtest
.history
/www/OLXRSS/
/www/Opencart-v.1.5.6.5-V-PRO-Install-PHP-v.7.4.30/
/www/sborka/
/www/toptest.fun/
/www/oc40/
/www/oc23/
/www/oc21/
/www/oc15/
/www/oc3tdd/
/www/assets/
/www/mich/
